
body {
font-family : 'Lato', sans-serif;
background : #fff;
}
body p {
color : #666666;
font-family : "Lato", sans-serif;
font-size : 14px;
letter-spacing : 1px;
}
body h1, h2, h3, h4, h5, h6 {
color : #0d1a2a;
font-family : "Lato", sans-serif;
font-size : 18px;
/*text-transform : capitalize;*/
font-weight : 800;
text-transform : uppercase;
}
a:hover {
text-decoration : none;

}
section {
border-bottom: 6px dashed #0d1a2a;
}
.navbar {
padding : 10px 0;
transition : background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
padding: 0;
height: 50px;
}
.top-nav-collapse ul li a {
  padding: 5px 12px !important;
}
.top-nav-collapse .lft_hd img {
  height: 45px;
  width: 100px;
}
#loader-wrapper .logo {
left : 48.7%;
position : absolute;
top : 48%;
}
#loader-wrapper .logo a {
font-weight : 700;
color : #3498DB;
font-size : 12px;
}
#loader-wrapper .logo img {
    position: relative;
   /* left:-50px; */
}
.logo span {
color : #f85654;
}
#loader-wrapper {
position : fixed;
top : 0;
left : 0;
width : 100%;
height : 100%;
z-index : 999999;
background : #fff;
}
#loader {
display : block;
position : relative;
left : 50%;
top : 50%;
width : 150px;
height : 150px;
margin : -75px 0 0 -75px;
border-radius : 50%;
border : transparent solid 6px;
border-top-color : #f1c40f;
animation : spin 2s linear infinite;
}
#loader:before {
content : "";
position : absolute;
top : 5px;
left : 5px;
right : 5px;
bottom : 5px;
border-radius : 50%;
border : transparent solid 6px;
border-top-color : #2c3e50;
animation : spin 3s linear infinite;
}
#loader:after {
content : "";
position : absolute;
top : 15px;
left : 15px;
right : 15px;
bottom : 15px;
border-radius : 50%;
border : transparent solid 6px;
border-top-color : #f39c12;
animation : spin 1.5s linear infinite;
}
@keyframes spin {
0% {
transform : rotate(0deg);
}
100% {
transform : rotate(360deg);
}
}
#nav_menu ul {
float : right;
list-style : none outside none;
margin : 0;
padding : 0;
position : relative;
}
#nav_menu ul a {
color : #f1c40f;
display : block;
font-family : lato;
font-size : 14px;
font-weight : bold;
line-height : 32px;
padding : 25px 14px;
text-decoration : none;
text-transform : capitalize;
transition : all 0.4s 0s ease;
}
#nav_menu ul li {
float : left;
padding : 0;
position : relative;
}
#nav_menu ul li a:hover, .highlight {
transition : all 0.6s 0s ease;
background : #2980b9;
border-radius: 3px;
outline: 1px dashed #f1c40f;
outline-offset: -5px;
}
#nav_menu ul ul {
background : none 0 0 repeat scroll #2980b9;
display : none;
left : 0;
/*padding : 0;*/
position : absolute;
top : 100%;
z-index : 9999;
padding : 10px;
border: 2px solid #f1c40f;
border-radius: 3px;
}
#nav_menu ul ul li {
float : none;
width : 200px;
}
#nav_menu ul ul a {
line-height : 120%;
padding : 10px 29px;
}
#nav_menu ul ul li a:hover, .highlightsub {
transition : all 0.6s 0s ease;
background : #2c3e50;
}
#nav_menu ul ul ul {
top : 0;
left : 100%;
}
#nav_menu ul li:hover > ul {
display : block;
}
#nav_menu ul li a i {
margin-left : 6px;
}
#src_sec {
/*background-image : url("../img/slide_img.jpg");*/
background-position : center center;
background-size : cover;
min-height : 500px;
}
#abt_sec {
padding : 70px 0;
background-color: #ecf0f1;
}
.happy_use {
float : right;
font-family : open sans;
line-height : 6px;
text-align : center;
margin-top : 10px;
}
.happy_use > h2 {
color : #2c3e50;
font-size : 17px;
font-weight : 600;
margin : 0;
}
.happy_use > p {
font-size : 16px;
margin : 0;
}
.lft_hd img {
float : left;
margin-right : 30px;
margin-top : 0px;
width : 150px;
}
#pricing_sec {
padding : 70px 0;
}
.title_sec {
margin : 0 auto;
padding : 0 0 25px 0;
text-align : center;
}
.title_sec h2 {
color : #606060;
font-size : 12px;
text-transform : uppercase;
letter-spacing : 1px;
}
.abt {
margin : 0 auto;
 text-align:justify
}
#skill_sec {
padding-top : 60px;
}
.skills-wrap .container {
padding : 70px 0;
}

.progress {
height : 35px;
line-height : 35px;
margin-bottom : 45px;
background : #fff;
border-radius : 2px;
border: 1px solid #0f0e0e;
box-shadow : none;
list-style : none;
cursor: pointer;
}
.progress:hover {
-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
transition: all 0.6s;
}
.progress-bar {
font-weight : 600;
line-height : 35px;
padding-left : 20px;
text-align : left;
color: #0f0e0e;
}
.progress-bar1 .progress-bar {
background : #f1c40f;
}
.progress-bar1 ul {
  width: 100% !important;
  text-align: center;
}
.progress-bar1 ul li {
  display: inline-block;
  width: 80%;
}
#lts_sec {
padding-top : 30px;
}
.all_brouse_btn {
border : #666666 solid 1px;
color : #666666;
font-size : 12px;
text-transform : uppercase;
padding : 15px 20px;
text-align : center;
background : #fff;
}
.post_btn {
width : 100%;
display : inline-block;
margin : 0 auto;
text-align : center;
padding-top : 65px;
}
.post_btn a {
position : relative;
display : inline-block;
margin : 15px 25px;
outline : none;
color : #fff;
text-decoration : none;
text-transform : uppercase;
letter-spacing : 1px;
font-weight : 400;
text-shadow : 0 0 1px rgba(255, 255, 255, 0.3);
font-size : 1.35em;
}
.hover_effect_btn {
position : relative;
z-index : 1;
}
.hover_effect_btn a {
overflow : hidden;
margin : 0 15px;
}
.hover_effect_btn a span {
font-size : 12px;
font-family : lato;
background : none 0 0 repeat scroll #fff;
border : #666666 solid 1px;
border-radius : 6px;
color : #666666;
display : block;
padding : 15px 20px;
transition : transform 0.3s;
}
.hover_effect_btn a::before {
background : none 0 0 repeat scroll #00AFF0;
color : #fff;
height : 100%;
left : 0;
padding : 15px 20px;
position : absolute;
top : 0;
transition : transform 0.3s 0s ease;
width : 100%;
z-index : -1;
font-size : 12px;
font-family : lato;
border : #666666 solid 1px;
border-radius : 6px;
}
.hover_effect_btn a:hover span, .hover_effect_btn a:focus span {
transform : translateX(100%);
}
.hover_effect_btn a:hover::before, .hover_effect_btn a:focus::before {
transform : translateX(0%);
}
#protfolio_sec ul.filter {
color : #2e2e2e;
}
#protfolio_sec ul.filter li {
color : #666666;
cursor : pointer;
display : inline-block;
font-family : lato;
font-size : 14px;
margin-right : 5px;
padding : 15px 35px;
position : relative;
}
#protfolio_sec ul.filter li:hover {
color : #f1c40f;
}
#protfolio_sec ul.filter li.active {
border-bottom : 1px solid #f1c40f;
}
#protfolio_sec .all-portfolios {
margin-top : 20px;
    margin-left: 55px;
    margin-right: auto;
}
.all-portfolios:after {
    content: '';
    display: block;
    clear: both;
}

#protfolio_sec .single-portfolio {
float : left;
margin-bottom : 10px;
width : 160px;
}
#protfolio_sec .single-portfolio:hover .img_hoverlay {
display : block;
}
.single-portfolio {
    z-index: 2;
    position: relative;
    float: left;
    width: 160px;
    height: 160px;
    margin: 5px;
    padding: 2px;
}

.isotope-hidden.single-portfolio {
    pointer-events: none;
    z-index: 1;
}
#message {
height : 90px;
}
.wrap_caption {
padding : 190px 0;
}
.slider {
display : block;
text-align : center;
vertical-align : middle;
width : 100%;
}
#slider_sec {
background-image : url("../img/slider.jpg");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
height : 650px;
width : 100%;
}
.left_crousel_btn, .right_crousel_btn {
color : #fff;
height : 20px;
position : absolute;
text-align : center;
top : 50%;
width : 20px;
font-size : 25px;
font-weight : normal;
}
.caption_carousel h1 {
font-family : lato;
font-size : 60px;
padding: 2em 0;
text-transform : capitalize;
color : #ecf0f1;
-webkit-text-stroke: 2px black;
text-shadow:
       3px 3px 0 #000,
     -2px -2px 0 #000,  
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000;
}
.caption_carousel p {
font-family : lato;
font-size : 14px;
color : #f6f6f6;
border-top : 1px solid #fff;
border-bottom : 1px solid #fff;
display : inline;
line-height : 35px;
padding : 8px;
}
.caption_carousel {
/*display : table-cell;*/
text-align : center;
vertical-align : middle;
height : 100%;
width : 100%;
margin : 0 auto;
display : block;
outline: 2px dashed #f1c40f;
outline-offset: -5px;
}
.carousel-indicators li {
background-color : #363636;
border : none medium;
border-radius : 2px;
cursor : pointer;
display : inline-block;
height : 7px;
text-indent : 0;
width : 25px;
}
.carousel-indicators .active {
width : 25px;
height : 8px;
background-color : #f1c40f;
}
#counting_sec {
background : none 0 0 repeat scroll #f0f0f0;
padding : 90px 0;
}
.counting_sl h2 {
color : #515050;
font-size : 48px;
}
.counting_sl h4 {
font-size : 18px;
color : #515050;
text-transform : uppercase;
font-weight : 300;
}
.counting_sl {
text-align : center;
}
.counting_sl i {
color : #515050;
float : left;
font-size : 35px;
margin-top : 10px;
}
#pr_sec {
padding : 70px 0;
}
.service {
border-radius: 3px;
border: 2px solid #eeeeee;
cursor: pointer;
text-align : center;
padding : 61px 0;
    transition: all 1s;
}
div.service:hover .service_hoverly {
    display: block;
    transition: all 1s;
}
div.service:hover {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    border: 2px solid #f1c40f;
    padding: 0;
    z-index: 1000;

}
.service > h2 {
color : #0d1a2a;
font-size : 14px;
font-weight : 400;
text-transform : uppercase;
}
.service_hoverly h2 {
color : #0d1a2a;
font-size : 14px;
font-weight : 400;
text-transform : uppercase;
margin : 0;
/*padding-bottom : 30px;*/
}
.service i {
font-size : 50px;
color : #03B0F0;
position : relative;
}
.service_hoverly {
display: none;
    position: relative;
    top: -80px;
background: #fff;
-moz-transition: all 1s ease 0.6s;
-webkit-transition: all 1s ease 0.6s;
transition: all 1s;
}
.service_hoverly img {
background : none 0 0 repeat scroll #fff;
font-size : 50px;
position : relative;
top : -60px;
}
#protfolio_sec {
background : none 0 0 repeat scroll #f0f0f0;
padding : 70px 0;
}
#tm_sec {
padding : 70px 0;
}
.sngl_team h3 {
font-size : 14px;
text-transform : uppercase;
color : #333333;
}
.sngl_team {
text-align : center;
width : 100%;
}
.owl-item .sngl_team img {
margin : 0 auto;
text-align : center;
width : 130px;
}
.sngl_team span {
color : #00aff0;
font-family : lato;
font-size : 13px;
margin-left : 10px;
text-transform : uppercase;
}
.all_team .owl-controls .owl-prev i {
color : #3399ff;
font-size : 30px;
position : absolute;
top : 46%;
left : 0;
}
.all_team .owl-controls .owl-next i {
position : absolute;
top : 46%;
font-size : 30px;
color : #3399FF;
right : 0%;
}
.all_team .owl-controls .owl-dot {
background-color : #363636;
border : none medium;
border-radius : 5px;
cursor : pointer;
display : inline-block;
height : 6px;
text-indent : 0;
width : 25px;
margin-right : 5px;
}
.all_team .owl-controls .owl-dot.active {
background-color : #03B0F0;
}
.all_team .owl-controls {
display : inline-block;
width : 100%;
text-align : center;
}
#tstm_sec {
background-image : url("../img/testimonial_bg.jpg");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
padding : 40px 0;
padding-top: 80px;
}
.all_tstm {
display : table;
width : 100%;
height : 100%;
}
.sngl_tstm {
display : table-cell;
height : 100%;
text-align : center;
vertical-align : middle;
}
.sngl_tstm i {
font-size : 25px;
color : #fff;
}
.sngl_tstm h3 {
color : #f1c40f;
font-size : 24px;
letter-spacing : 1px;
text-transform : uppercase;
}
.sngl_tstm p {
color : #ffffff;
font-size : 16px;
line-height : 30px;
}
.sngl_tstm h6 {
font-size : 12px;
text-transform : uppercase;
color : #f1c40f;
}
.clnt_tstm {
width : 780px;
margin : 0 auto;
}
#tstm_sec .owl-controls .owl-dot {
background-color : #fff;
border : none medium;
border-radius : 5px;
cursor : pointer;
display : inline-block;
height : 6px;
text-indent : 0;
width : 25px;
margin-right : 5px;
}
#tstm_sec .owl-controls .owl-dot.active {
background-color : #f1c40f;
}
#tstm_sec .owl-controls {
display : inline-block;
width : 100%;
text-align : center;
}
#tstm_sec .owl-controls .owl-nav {
display : none;
}
.lts_pst > img {
  width: 100%;
}
.lts_pst h2 {
color : #333333;
font-size : 14px;
text-transform : uppercase;
}
.lts_pst a {
border-bottom : 1px solid #333333;
color : #333333;
font-family : lato;
text-transform : capitalize;
}
.lts_pst a:hover {
border-bottom : 1px solid #00AFF0;
}
.sngl_pricing ul {
border : #ebebeb solid 5px;
margin : 0;
padding : 0;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sngl_pricing ul li {
color : #666666;
font-family : lato;
font-size : 14px;
list-style : none outside none;
text-transform : capitalize;
border-top : 1px solid #EBEBEB;
padding : 10px 0;
text-align : center;
}
.sngl_pricing ul li:first-child {
border-top : 0;
}
.sngl_pricing {
text-align : center;
border : #ebebeb solid 5px;
}
.sngl_pricing:hover {
border : #00AFF0 solid 5px;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sngl_pricing:hover.sngl_pricing h3 {
background : none 0 0 repeat scroll #00AFF0;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sngl_pricing > h2 {
color : #fff;
font-size : 18px;
margin : 0;
padding : 30px;
text-transform : uppercase;
}
.title_bg_1 {
background-image : url("../img/basic.jpg");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
}
.title_bg_2 {
background-image : url("../img/standar.jpg");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
}
.title_bg_3 {
background-image : url("../img/extended.jpg");
background-position : center center;
background-repeat : no-repeat;
background-size : 100% 100%;
}
.sngl_pricing > h3 {
background : none 0 0 repeat scroll #ebebeb;
color : #515050;
font-size : 48px;
margin : 0;
padding : 20px 0;
}
.currency {
font-size : 24px;
position : relative;
top : -18px;
}
.monuth {
font-size : 24px;
text-transform : none;
}
.btn.pricing_btn {
background : none 0 0 repeat scroll #00aff0;
border : #666666 solid 1px;
color : #fff;
text-transform : uppercase;
padding : 10px 30px;
}
.sngl_pricing ul {
margin : 0;
padding : 55px 0;
}
.sngl_pricing a {
margin-top : 30px;
}
#clt_sec {
background : #F0F0F0;
padding : 70px 0;
}
.owl-item .sngl_clt a {
text-align : center; 
width : 100%;
display : inline-block;
margin-left : 60px;
}
.owl-item .sngl_clt img {
width : 100px;
}
#clt_sec .owl-controls .owl-nav {
display : none;
}
#ctn_sec {
padding : 70px 0;
}
#cnt_form .btn {
background : #0d1a2a;
padding : 10px 35px;
border: 3px solid transparent;
}
#cnt_form .btn:hover {
	border: 3px solid #f1c40f;
	transition: all 0.6s;
} 
#cnt_form .form-control:focus {
border : #0080FF solid 1px;
}
.cnt_info ul {
margin : 0;
padding : 0;
border-left : 1px solid #C7C7C7;
padding-left : 30px;
}
.cnt_info ul li {
list-style : none outside none;
padding : 15px 0;
}
.cnt_info ul li i {
color : #0d1a2a;
float : left;
margin-top : 5px;
padding-right: 20px;
}
.cnt_info ul li a {
	color: #d35400;
}
.cnt_info ul li a:hover {
	color: #f1c40f;
	transition: all 0.6s;
}
.cnt_info p {
padding-left : 30px;
}
.map_area {
margin-bottom : 93px;
}
.ft ul {
margin : 0;
padding : 0;
text-align : center;
}
.ft ul li {
list-style : none outside none;
padding-right : 10px;
display : inline;
}
.ft ul li a {
border : #818181 solid 1px;
border-radius : 50px;
display : inline-block;
margin : 0 auto;
padding : 7px 11px;
text-align : center;
}
.ft ul li a i {
color : #363636;
font-size : 15px;
transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.ft ul li a i:hover {
color : #00AFF0;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.ft ul li .fa-facebook {
padding : 3px;
}
#ltd_map_sec {
background : none 0 0 repeat scroll #0d1a2a;
text-align : center;
border-bottom: 6px dashed #f1c40f;
}
.map > h1 {
color : #f1c40f;
font-size : 20px;
font-weight : normal;
text-transform : uppercase;
}
#ft_sec {
padding : 70px 0;
}
.copy_right {
margin : 0;
padding : 0;
}
.copy_right li {
font-size : 14px;
font-weight : 600;
list-style : none outside none;
padding : 2px;
text-align : center;
color : #818181;
text-transform : uppercase;
}
.copy_right {
margin : 0;
padding : 0;
margin-top : 18px;
}
.map i {
font-size : 22px;
font-weight : bold;
color : #fff;
margin-left : 15px;
}
.show_hide {
color : #ecf0f1;
margin-left : 15px;
}
.show_hide:focus {
color: #e67e22;
}
#blg_sec {
padding : 100px 0;
}
.main_menu_sec {
background : none 0 0 repeat scroll #0d1a2a;
border : none 0;
border-bottom: 6px dashed #f1c40f;
margin : 0;
}
.post_info i {
background : none 0 0 repeat scroll #00aff0;
color : #fff;
float : left;
font-size : 30px;
padding : 10px;
margin-right : 15px;
}
.post_info ul {
margin : 0;
padding : 0;
}
.post_info ul li {
list-style : none;
float : left;
}
.post_intro {
padding-top : 15px;
}
.post_intro h2 {
color : #333333;
font-size : 14px;
font-weight : bold;
text-transform : uppercase;
display : inline;
line-height : 30px;
}
.post_info ul li {
float : left;
list-style : none outside none;
color : #a3a7b2;
font-size : 12px;
text-transform : capitalize;
font-family : lato;
}
.post_content {
border-bottom : 1px solid #e3e3e3;
float : left;
line-height : 25px;
padding : 30px 0;
}
.post_content > a {
color : #666666;
font-family : lato;
font-size : 12px;
border-bottom : 1px solid #666666;
line-height : 40px;
padding : 8px 0;
}
.post_content > a:hover {
border-bottom : 1px solid #00AFF0;
}
#sr_bx {
border : #C4C4C4 solid 1px;
padding : 12px;
width : 100%;
}
.sidebar h2 {
color : #333333;
font-size : 14px;
text-transform : uppercase;
margin-top : 30px;
}
.title_br {
border-bottom : 2px solid #666666;
width : 50px;
}
.sidebar ul {
margin : 0;
padding : 0;
}
.sidebar ul li {
border-bottom : 1px solid #e2e2e2;
list-style : none outside none;
padding : 15px 0;
}
.sidebar ul li a {
color : #666666;
font-size : 14px;
text-transform : capitalize;transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s
}
.sidebar ul li a:hover, .sidebar ul li a:focus, .sidebar ul li a:active{transition: all 1s ease 0s;
-moz-transition: all 1s ease 0s;
-webkit-transition: all 1s ease 0s;color:#f1c40f;
background-color: #0d1a2a;}
.flickr li {
border : 0 !important ;
}
.flickr li {
float : left;
padding-right : 6px;
width : 90px;
}
.tag > li {
border : none medium !important ;
float : left;
}
.tag li a {
border : #666666 solid 1px;
padding : 10px;
margin-right : 5px;
}
.sngl_blg > img {
width : 100%;
height : 100%;
border: 3px solid #f1c40f;
border-radius: 3px;
}
.author_dec h3 {
margin : 0;
color : #333333;
font-size : 14px;
margin-bottom : 11px;
}
.author_info {
border-bottom : 1px solid #e3e3e3;
display : inline-block;
padding : 22px 0;
margin-bottom : 30px;
}
.author_info > img {
float : left;
margin-right : 35px;
}
.social_link {
margin : 0;
padding : 0;
float : right;
display : inline-flex;
}
.social_link li {
list-style : none;
}
.social_link li a i {
color : #363636;
float : left;
padding : 6px;
}
.form-control.single_cnt {
width : 355px !important ;
}
.single_cnt_m {
width : 731px !important ;
}
i.fa-quote-right {
	color: #f1c40f; 
}
#googleMap {
	border: 3px solid #e67e22;
	border-radius: 3px;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus{
	border-color: #27ae60 !important;
}
.img-responsive {
  height: 160px;
  cursor: pointer;
  width: 100%;
}
.default .navbar-toggle:hover {
    background-color: #2980b9;
}
.navbar-default .navbar-toggle {
    border-color: #2980b9;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2980b9;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #f1c40f;
}
.pagination-wrapper {
    text-align: center;
}
.pagination-wrapper .pagination {
    display:inline-block;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: #eee;
    border-color: #f1c40f;
}
.pagination>li>a, .pagination>li>span {
    color: #0d1a2a;
    border: 1px solid #f1c40f;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #f1c40f;
    background-color: #0d1a2a;
    border-color: #0d1a2a;
}
.pagination>li>a:hover, .pagination>li>span:hover {
    color: #f1c40f;
    background-color: #0d1a2a;
    border-color: #0d1a2a;
}
/*Popup search box*/
/* Search Style */
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    display: none;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    z-index: 106;
    display: block;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, .8);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    outline: none;
    padding: 10px;
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    opacity: 1;
    font-size: 27px;
    color: #fff;
}

#search .close:hover{
    color: #f1c40f;
    cursor: pointer;
}

#startImg {
    max-width: 50px;
    top:-8px;
    left: -7px;
    border-radius:2px;
    border:1px solid #f1c40f;
}
.clnt_tstm {
    width: 780px;
    margin: 0 auto;
    height: 200px!important;
}

.scrollup {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    border: 2px solid transparent; }

.scrollup:after {
    content: url("../img/uparrow.png");
    opacity: 0.6;
    filter: alpha(opacity=60);
    bottom: 0px;
    right: 0px;
    position: relative;
    z-index: -1; }

.scrollup:hover, .scrollup:focus {
    border: 2px solid #0d1a2a;
    border-radius: 3px;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 0.5s; }

.scrollup:hover:after, .scrollup:focus:after {
    opacity: 1;
    transition: all 0.5s; }
.search_console {
    margin: 2em 0;
}
.searched {
    color: #e74c3c;
    background: transparent;
}
.hide {
    display: none;
}

.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.service-wrapper {
    text-align: center;
}
.service-wrapper .service {
    width: 230px;
    display: inline-block;
    margin: 10px 20px;
}
.error404 {
    padding: 130px;
    background-image: url("../img/404.png");
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/404.png");
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/404.png");
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/404.png");
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/404.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.error404 h1 {
    font-size: 25px;
}
.error404 h2 {
    font-size: 18px;
}
@media (min-width:1400px) {
 	#slider_sec {
	background-image : url("../img/sliderL.jpg");
	height: 900px;
	}
}
@media (max-width:995px) {
    .top-nav-collapse {
        height: inherit;
    }
    #nav_menu ul a {
        font-size: 10px;
    }
}
@media (max-width:768px) {
  .top-nav-collapse {
      height: inherit;
  }
  #nav_menu ul li {
    width: 100%;
  }
    #nav_menu ul a {
        font-size: 14px;
    }
    .caption_carousel h1 {
        font-size: 40px;
    }
    .sngl_tstm p {
        font-size: 14px;
    }
    .sngl_tstm h3 {
        font-size: 16px;
    }
    .clnt_tstm {
        height:auto !important;
    }
}